.error_msg{
	color: red;
	background: transparent;
    border: none;
}

html, body{
	height: 100%;
}

.carousel-image{
	max-width: 100%;
	max-height: 450px;
	
	min-height: 400px;

	margin: 0px auto;
}
